USE [retail_sales]
GO
/****** Object:  Table [dbo].[SQL - RetailSalesAnalysis ]    Script Date: 28-05-2025 18:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQL - RetailSalesAnalysis ](
	[transactions_id] [smallint] NOT NULL,
	[sale_date] [date] NOT NULL,
	[sale_time] [time](7) NOT NULL,
	[customer_id] [tinyint] NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[age] [tinyint] NULL,
	[category] [nvarchar](50) NOT NULL,
	[quantiy] [tinyint] NULL,
	[price_per_unit] [smallint] NULL,
	[cogs] [float] NULL,
	[total_sale] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SQL - RetailSalesAnalysis ] ([transactions_id], [sale_date], [sale_time], [customer_id], [gender], [age], [category], [quantiy], [price_per_unit], [cogs], [total_sale]) VALUES (180, CAST(N'2022-11-05' AS Date), CAST(N'10:47:00' AS Time), 117, N'Male', 41, N'Clothing', 3, 300, 129, 900)
INSERT [dbo].[SQL - RetailSalesAnalysis ] ([transactions_id], [sale_date], [sale_time], [customer_id], [gender], [age], [category], [quantiy], [price_per_unit], [cogs], [total_sale]) VALUES (522, CAST(N'2022-07-09' AS Date), CAST(N'11:00:00' AS Time), 52, N'Male', 46, N'Beauty', 3, 500, 145, 1500)
INSERT [dbo].[SQL - RetailSalesAnalysis ] ([transactions_id], [sale_date], [sale_time], [customer_id], [gender], [age], [category], [quantiy], [price_per_unit], [cogs], [total_sale]) VALUES (559, CAST(N'2022-12-12' AS Date), CAST(N'10:48:00' AS Time), 5, N'Female', 40, N'Clothing', 4, 300, 84, 1200)
GO
